target/
boot/
lib_managed/
src_managed/
project/plugins/project/
/.idea/
/project/target/
/src/main/g8/target/
/project/project/

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
project/boot/

# Scala-IDE specific
.scala_dependencies
.worksheet
.metals/
.ammonite/
metals.sbt
metals/project/
**/.bloop
.metals/metals.h2.db
.vscode/settings.json
